<li class="list-group-item">
    <h5 class="list-group-item-heading">
        <%= fa_icon 'map-marker' %> 
        <%= venue.name %>
    </h5>
    <p class="list-group-item-text"><%= venue.full_address %></p>
</li>
